body{
	width: 100%;
	padding-left: 70px;
	padding-right: 70px;
}
#btn_buscar{
	cursor: pointer;
}
.txt{
	width: 90%;
	padding: 7px;
	font-size: 20px;
	border-radius: 3px;
	border:1px solid #D9D9D9;
}
.txt:focus{	
	border:1px solid #4D90FE;
}
.txt:hover{	
	border:1px solid #A0A0A0;
}
.btn{
	font-size: 15px;
	font-weight: bold;
	color:#757575;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#div_result{
	display: none;
}
#div_result .row{
	padding: 5px;
}